#bg{
    background-color: yellowgreen;
    background-image: url('photos/aida-batres-_QxzSVWesm0-unsplash.jpg');
    background-position:right;
    /* background-position: bottom; */
    background-repeat: no-repeat;
}